.title {
    color: rgb(13, 13, 110);
    font-family: Calibri;
    font-size: 300%;
    position: relative;
    left: -30%;
    margin: 10px;
    display: flex;
    position: absolute;  
    top: 15px;
    left: 175px;

}

.memoTable, .downColumn, .freeColumn, .upColumn, .callColumn, .handColumn, .sumColumn{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 75px;
    top: 100px;
}

.memoTable{
    left: 70px;
}
.downColumn{
    left: 150px;
}
.freeColumn{
    left:230px
}
.upColumn{
    left: 310px;
}
.callColumn{
    left: 390px;
}
.handColumn{
    left: 470px;
}
.sumColumn{
    left: 550px;
}

.dicesThrow{
    display: flex;
    position: absolute;  
    top: 300px;
    left: 650px;
}

.dicesKeep{
    display: flex;
    position: absolute;  
    top: 375px;
    left: 650px;
}

.countThrow{
    display: flex;
    position: absolute;  
    top: 235px;
    left: 695px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;
}


.cellBorder {
border: 2px solid black;
margin: 2px;
height: 30px;
font-size: 125%;
border-radius: 5px;
}

.sumSpacing {
visibility: hidden;
}


.clickable:hover {
    background-color: yellow;
    transform: scale(1.15);

  }

.sumBackground{
    background-color: rgb(49, 168, 156)
}




.throwBox, .thrownDice1, .thrownDice2, .thrownDice3, .thrownDice4, .thrownDice5, .thrownDice6,
.keepBox, .keptDice1, .keptDice2, .keptDice3, .keptDice4, .keptDice5, .keptDice6{
color:rgb(4, 4, 35);
background-color: rgb(124, 97, 243);
width: 100px;
font-size: 135%;
border: 1px solid rgb(2, 27, 2);
margin: 2px;
height: 65px;
border-radius: 5px;
border-color: aliceblue;
text-align: center;
}
.throwBox:hover { background-color: yellow }
.thrownDice1:hover { background-color: yellow }
.thrownDice2:hover { background-color: yellow }
.thrownDice3:hover { background-color: yellow }
.thrownDice4:hover { background-color: yellow }
.thrownDice5:hover { background-color: yellow }
.thrownDice6:hover { background-color: yellow }
.keptDice1:hover { background-color: yellow }
.keptDice2:hover { background-color: yellow }
.keptDice3:hover { background-color: yellow }
.keptDice4:hover { background-color: yellow }
.keptDice5:hover { background-color: yellow }
.keptDice6:hover { background-color: yellow }

.thrownDice1, .thrownDice2, .thrownDice3, .thrownDice4, .thrownDice5, .thrownDice6,
.keptDice1, .keptDice2, .keptDice3, .keptDice4, .keptDice5, .keptDice6{
width: 55px;
font-size: 300%;
}

.muteDice{
    pointer-events: none;
}

.muted{
    pointer-events: none;
}


.throwCounter {
    width: 55px;
    font-size: 300%;
    text-align: right;
    }

.hideElement {
    visibility: hidden;
}

.turnRed{
    color: red;
}



